#!/bin/bash
ga_dir_base=~/.cache/gif-anim-capture-area
ga_dir_frames="$ga_dir_base/frames"
ga_frame_ext=png
ga_fn_coords="$ga_dir_base/coords.txt"
ga_fn_out_raw="$ga_dir_base/gifanim-output.gif"
ga_fps=2
ga_hotkey_comments="
(Edit gif-anim-settings for your own shortcut/key-bindings):
  After border selection (Win-F6), hit:
  Win-F7 to capture a frame
  Win-F8 to create a gif
"
ga_framecap_lock_fn="$ga_dir_base/framecap.lock"
ga_waitlock_secs=10
